*.pyc
*.sqlite
*.log
venv/
build.sh
CloudSession-Pkg.tar.gz

#################
## NetBeans
#################

/target/
nbactions.xml
/.project

#################
## IntelliJ
#################

.idea
build
deploy-test
/CloudSession-Templates.tar.gz
