*.pyc
*.sqlite
*.log
venv/
venv3/
build.sh
CloudSession-Pkg.tar.gz

#################
## NetBeans
#################

/target/
nbactions.xml
/.project

#################
## IntelliJ
#################

.idea
build
copy-test
deploy-test
deploy2coppa
dbupdate.sh
/CloudSession-Templates.tar.gz
/copy-test
/deploy2coppa

# Appllication configuration should never be comitted to the repo
cloudsession.ini