aniso8601==6.0.0
atomicwrites==1.3.0
attrs==19.1.0
blinker==1.4
certifi==2019.3.9
Click==7.0
Flask==1.0.2
Flask-Mail==0.9.1
Flask-RESTful==0.3.7
Flask-SQLAlchemy==2.3.2
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.1
more-itertools==6.0.0

# ===================================================================================
# NOTE:
# There is a bug in the mysqlclient installation process on MocOS systems.
#
# https://pypi.org/project/mysqlclient/
#
# Note about bug of MySQL Connector/C on macOS
#
# See also: https://bugs.mysql.com/bug.php?id=86971
#
# Versions of MySQL Connector/C may have incorrect default configuration
# options that cause compilation errors when mysqlclient-python is installed.
# (As of November 2017, this is known to be true for homebrew's mysql-connector-c
# and official package)
#
# Modification of mysql_config resolves these issues as follows.
#
# Change
#
# on macOS, on or about line 112:
#
#   # Create options
#   libs="-L$pkglibdir"
#   libs="$libs -l "
#
# to
#
#   # Create options
#   libs="-L$pkglibdir"
#   libs="$libs -lmysqlclient -lssl -lcrypto"
#
#
# An improper ssl configuration may also create issues; see, e.g, brew info openssl
# for details on macOS.
# ===================================================================================

mysqlclient==1.4.2.post1


pluggy==0.9.0
py==1.8.0
pystache==0.5.4
pytest==4.3.1
pytz==2018.9
redis==3.2.1
sentry-sdk==0.7.6
six==1.12.0
SQLAlchemy==1.3.0
supervisor==4.0.2
urllib3==1.24.1
uWSGi==2.0.18 
validate-email==1.3
Werkzeug==0.14.1
