{{!
    This is the text body of the email new account notification to
    a parent or guardian
}}
Hello,

Someone, perhaps your child, has requested a new account on the Parallax
BlocklyProp web site (http://blockly.parallax.com) under the screen name
{{screenname}}. When the account was created, your email address was
received as the parent or guardian of the registrant. If this is incorrect,
please accept our apologies. There is nothing more you need to do. The
request will automatically expire.

If this is your child, please confirm the registration by copying the link below into
your browser or by navigating to the second link and confirming the student's email address.

Confirm account registration:
Copy and paste into your browser
http://localhost:8080/blockly/confirm?locale={{locale}}&email={{registrant-email}}&token={{token}} to confirm your email address.

If the above link is unable to complete your registration, please go to
http://localhost:8080/blockly/confirm and enter your email address and the token: {{token}}


You may also elect to cancel the registration process immediately. To do
so, please copy and paste the link below. This will remove the pending registration
request and the account that was created during the registration process.

[NEED A CANCEL LINK HERE]



Regards,

The Parallax team
