{{!
    This is the text body of the email new account notification to
    a parent or guardian

    Tags used in this template:
        blocklyprop-host
        locale
        registrant-email
        screenname
        token
}}
Hello,

Someone, perhaps your child, has requested a new account on the Parallax
BlocklyProp web site (http://blockly.parallax.com) under the screen name
{{screenname}}. When the account was created, your email address was
submitted as the parent or guardian of the registrant. If this is incorrect,
please accept our apologies. There is nothing more you need to do. The
request will automatically expire.

Why are we sending this? In the US, the federal Children's Online Privacy
Protection Act, known as COPPA, requires that we communicate with a parent
or guardian if the person registering an BlocklyProp account is under the
age of 13. The Act allows you to decline the registration request. If you
choose this option, we will immediately remove the registration information
and the associated account. If you choose to confirm the the request and
activate the account, you may close the account at any time by clicking on
the link provided below. This action will close the account and remove any
projects that are associated with the account.

A full copy of our Child Privacy Policy is available online at:
http://{{blocklyprop-host}}/blockly/child-privacy-policy

BlocklyProp is a free, online programming tool designed for education. See
Getting Started with BlocklyProp for more information.


Confirm account registration:
Copy and paste into your browser
http://{{blocklyprop-host}}/blockly/confirm?locale={{locale}}&email={{registrant-email}}&token={{token}} to confirm your email address.

If the above link is unable to complete your registration, please go to
http://{{blocklyprop-host}}/blockly/confirm and enter your email address and the token: {{token}}

If the above link is unable to complete the registration, please go to
http://{{blocklyprop-host}}/blockly/confirm and enter your email address and the token: {{token}}

If you do NOT want to complete your child's account registration, you need do
nothing more; this confirmation request will automatically expire in 7 days and
the account will not be created.

If you do complete your child's account registration, you may close the account
in the future. Email a request for closure and your child's screen name to
blocklyadmin@parallax.com. We will confirm your request and then close the account
and remove any projects that are associated with the account.

Regards,

The Parallax team

