Dear {{screenname}},

A request was made to reset your BlocklyProp account password.

If this request was made by you, please go to http://localost:8080/blockly/reset?locale={{locale}}&email={{email}}&token={{token}} to reset your password now.

If the url does not work, please go to http://localhost:8080/blockly/reset and use the token: {{token}}

If you did not make this request, you may safely ignore this message.

The Parallax team
