{{! This is the text body of the email}}
Hello,

A student has created an account on the Parallax BlocklyProp web site under the
screen name {{screenname}}. When the account was created, your email address was
registered as the classroom instructor. If this is incorrect, please accept our
apologies. There is nothing more you need to do. The request will automatically expire.

If this is your student, please confirm the registration by copying the link below into
your browser or by navigating to the second link and confirming the student's email address.

Copy and paste into your browser
http://localhost:8080/blockly/confirm?locale={{locale}}&email={{email}}&token={{token}} to confirm your email address.

If the above link is unable to complete your registration, please go to
http://localhost:8080/blockly/confirm and enter your email address and the token: {{token}}

Regards,

The Parallax team
