{{!
    This is the text body of the email new account notification to
    a parent or guardian
}}
Hello,

Someone, perhaps your child, has requested a new account on the Parallax
BlocklyProp web site (http://blockly.parallax.com) under the screen name
{{screenname}}. When the account was created, your email address was
received as the parent or guardian of the registrant. If this is incorrect,
please accept our apologies. There is nothing more you need to do. The
request will automatically expire.

BlocklyProp is a free, online programming tool designed for education. See
Getting Started with BlocklyProp
http://learn.parallax.com/tutorials/language/blocklyprop/getting-started-blocklyprop
for more information.


Why are we sending this? In the US, the federal Children's Online Privacy
Protection Act, known as COPPA, requires that we communicate with a parent
or guardian if the person registering an BlocklyProp account is under the
age of 13. The Act allows you to decline the registration request. If you
choose this option, we will immediately remove the registration information
and the associated account. If you choose to confirm the the request and
activate the account, you may close the account at any time by clicking on
the link provided below. This action will close the account and remove any
projects that are associated with the account.

A full copy of our Child Privacy Policy is available online at:
http://localhost:8080/blockly/child-privacy-policy


If this is your child, please confirm the registration by copying the link below into
your browser or by navigating to the second link and confirming the student's email address.

Confirm account registration:
Copy and paste into your browser
http://localhost:8080/blockly/confirm?locale={{locale}}&email={{registrant-email}}&token={{token}} to confirm your email address.

If the above link is unable to complete your registration, please go to
http://localhost:8080/blockly/confirm and enter your email address and the token: {{token}}


You may also elect to cancel the registration process immediately. To do
so, please copy and paste the link below. This will remove the pending registration
request and the account that was created during the registration process.

[NEED A CANCEL LINK HERE]



Regards,

The Parallax team
